.avatar {
  position: relative;
  display: inline-block;
  height: 48px;
  width: 48px;
  border-radius: 8px;
  margin: 8px;

  &.small {
    height: 32px;
    width: 32px;
  }

  &.medium {
    //default
  }

  &.large {
    height: 64px;
    width: 64px;
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--color-disabled-tint);
    border-radius: 8px;
  }

  &__icon {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--color-disabled-tint);
    color: var(--color-white);
    border-radius: 8px;
    justify-content: center;
    align-items: center;

    &__fa {
      height: 100%;
      width: 100%;
    }
  }

  &__notifications {
    position: absolute;
    color: var(--color-white);
    font-size: small;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(25%, -25%);
  }
}
