.text-input {
  margin: 8px;

  &__input {
    display: inline;
    outline: none;
    border-width: 1px;
    border-color: var(--color-grey);
    border-style: solid;
    border-radius: 3px;
    padding: 8px 16px;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
    transition: 0.18s ease-out;
    font-family: var(--font-primary);

    &:focus {
      box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.01),
        0px 0px 4px rgba(0, 0, 0, 0.1);
    }

    &.disabled {
      background-color: inset 1px 4px 16px rgba(0, 0, 0, 0.02);
      cursor: not-allowed;
    }

    &.invalid {
      border-color: var(--color-error);
    }
  }

  &__label {
    display: block;
    margin-bottom: 6px;
    font-family: var(--font-primary);
    font-weight: 600;
  }

  &__validation-message {
    display: block;
    margin-top: 6px;
    color: var(--color-error);
  }
}
