:root {
  //trio
  --color-primary: #121420;
  --color-secondary: #a50f00;
  --color-tertiary: #757780;

  --color-primary-tint: #99999c;
  --color-secondary-tint: #f7c0bb;
  --color-tertiary-tint: #e2e2e7;

  //names
  --color-dark-red: #a50f00;
  --color-light-red: #b51000;
  --color-blue: #121420;
  --color-grey: #757780;
  --color-white: #fffcf9;

  //states
  --color-error: #b51000;
  --color-warning: #eca03d;
  --color-success: #53a713;
  --color-disabled: #c7c7c7;
  --color-gold: #ffd700;
  --color-input: rgba(100, 100, 100, 0.15);
  --color-input-hover: rgba(100, 100, 100, 0.35);
  --color-input-shadow: rgba(50, 50, 50, 0.35);

  --color-error-tint: #f5afa9;
  --color-warning-tint: #ffe1b9;
  --color-success-tint: #dcf8c5;
  --color-disabled-tint: #eeecec;
}
