.switch__wrapper {
  margin: 8px 16px 20px 16px;

  &__label {
    margin-bottom: 6px;
    font-weight: 600;
  }

  &__validation-message {
    color: var(--color-error);
  }
}

.switch {
  position: relative;
  width: 36px;
  background-color: var(--color-input);
  height: 18px;
  border-radius: 25px;
  cursor: pointer;
  margin: 8px 0;

  &__input {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
    }
  }

  &__circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    margin: 4px;
    z-index: 2;
    background-color: var(--color-primary);
    border-radius: 20px;
    opacity: 0.4;
    box-shadow: 0px 10px 10px 0px var(--color-input-shadow);
    transition: all 0.25s ease;
    pointer-events: none;

    &.secondary {
      background-color: var(--color-secondary);
    }

    &.tertiary {
      background-color: var(--color-tertiary);
    }

    &.success {
      background-color: var(--color-success);
    }

    &.warning {
      background-color: var(--color-warning);
    }

    &.error {
      background-color: var(--color-error);
    }
  }

  &:hover {
    background-color: var(--color-input-hover);
  }

  &:active &__circle {
    width: 14px;
  }

  &__input:checked ~ &__circle {
    left: 18px;
    opacity: 1;
  }

  &:active &__input ~ &__circle {
    left: 14px;
  }
} // .switch__input:checked ~ .switch__circle { //   left: 52px; //   opacity: 1; // } // .switch:active .switch__input:checked ~ .switch__circle { //   left: 40px; // }
