.rating {
  display: inline-block;
  font-size: 1.3em;
  margin: 6px 8px;

  &.small {
    font-size: 1em;
  }

  &.medium {
    //default
  }

  &.large {
    font-size: 1.5em;
  }

  &__star {
    cursor: pointer;
    color: var(--color-disabled);

    &.selected {
      color: var(--color-gold);
    }
  }

  &__emoji {
    cursor: pointer;
    opacity: 0.365;

    &.selected {
      opacity: 1;
    }
  }
}
