.modal-blur {
  top: 0;
  left: 0;
  z-index: 9998;
  position: fixed;
  width: 100vw;
  height: 100vh;
  filter: blur(10px);
  background-color: rgba(24, 24, 24, 0.171);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.12s ease-in, visibility 0.12s ease-in;
  pointer-events: none;

  &.shown {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  max-width: 1000px;
  min-width: 320px;
  height: auto;
  min-height: 50px;
  background-color: var(--color-white);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 8px 16px 16px 16px;
  border-radius: 8px;
  transition: opacity 0.12s ease-in, visibility 0.12s ease-in;
  pointer-events: none;

  &.bottomRight {
    top: initial;
    left: initial;
    right: 100%;
    bottom: 10%;
  }

  &.bottomLeft {
    top: initial;
    right: initial;
    left: 10%;
    bottom: 10%;
  }

  &.shown {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      display: inline-block;
      margin-left: 16px;
    }

    &__close-icon {
      margin-right: 16px;
      cursor: pointer;
    }
  }

  &__body {
    padding-left: 16px;
  }

  &__footer {
  }
}
