.toast {
  top: 0;
  margin: 16px;
  min-width: 160px;
  min-height: 32px;
  max-width: 360px;
  max-height: 120px;
  padding: 0px 16px;
  background-color: var(--color-white);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: 0.12s ease-in;
  padding: 8px 16px;

  &__title {
    color: var(--color-primary);
    margin: 8px 0;
    margin-left: 8px;

    &.primary {
      color: var(--color-primary);
    }

    &.secondary {
      color: var(--color-secondary);
    }

    &.tertiary {
      color: var(--color-tertiary);
    }

    &__icon {
      width: 16px !important;
      display: inline-block;
      margin-right: 12px;
      font-size: 0.8em;

      &.primary {
        color: var(--color-primary);
      }

      &.secondary {
        color: var(--color-secondary);
      }

      &.tertiary {
        color: var(--color-tertiary);
      }

      &.success {
        color: var(--color-success);
      }

      &.info {
        color: var(--color-info);
      }

      &.warning {
        color: var(--color-warning);
      }

      &.error {
        color: var(--color-error);
      }
    }

    &__close-icon {
      position: relative;
      top: 4px;
      float: right;
      cursor: pointer;
      margin-left: 16px;
      font-size: 0.9em;
      color: var(--color-primary);
    }
  }

  &__description {
    margin-top: 0px;
    margin-left: 8px;

    &.with-icon {
      margin-left: 40px;
    }

    &.without-icon {
      margin-left: 8px;
    }
  }
}
