.burger {
  position: relative;

  &-menu {
    cursor: pointer;
    box-sizing: border-box;
    height: 36px;
    width: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 8px;
    padding: 3px 0;

    &__layer {
      @for $i from 1 through 3 {
        &-#{$i} {
          transition: 0.18s ease;
          background-color: var(--color-primary);
          height: 2px;
          width: 100%;
          border-radius: 8px;
        }
      }
    }

    @for $i from 1 through 3 {
      &:hover > &__layer-#{$i} {
        transform: translateY(-#{$i}px);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__content {
    white-space: nowrap;
    top: 100%;
    right: 0;
    position: absolute;
    margin: 16px 0 8px 0;
    padding: 16px;
    list-style-type: none;
    width: auto;
    text-align: right;
    background-color: var(--color-white);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    visibility: visible;
    transition: opacity 0.12s ease-in, visibility 0.12s ease-in;
    z-index: 99;
    opacity: 0;
    visibility: hidden;

    &__shown {
      opacity: 1;
      visibility: visible;
    }

    &__element {
      box-sizing: initial;
      margin: 8px 16px;
      list-style-type: none;

      &__link {
        text-decoration: none;
      }

      &.non-link {
        color: var(--color-disabled);
      }

      &.disabled {
        cursor: not-allowed;
        text-decoration: line-through;
      }
    }
  }
}
